h1{
    font-size: 70px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

body{
    background-image: url('https://images.unsplash.com/photo-1502657877623-f66bf489d236?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container p{
    text-align: center;
    font-size: 20px;
    color: white;
    width: 80%;
    margin: auto;
}

h3{
    color: white;
    text-align: center;
}

#entirebody{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#container{
    display: inline-block;
    justify-content: center;
    position: relative;
}

#wp1, #wp2, #wp3, #wp4, #madproj, #sweproj{
    background-color: rgba(128, 128, 128, 0.699);
    width: 25%;
    height: 60%;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    border: 5px solid white;
    border-radius: 3%;
    padding: 1em;
}

#wp1 p, #wp2 p, #wp3 p, #wp4 p, #madproj p, #sweproj p{
    font-size: 17px;
    width: 100%;
    vertical-align: auto;
    padding: 30px 0;
}

iframe{
    border: 2px solid white;
    border-radius: 5%;
}

video{
    border: 2px solid white;
    border-radius: 5%;
}

#sweproj img{
    border: 2px solid white;
    border-radius: 5%;
}

#links{
    position: absolute;
    top: 0;
    right: 0;
}

#links img{
    height: 50px;
    width: 50px;
}

#links img:hover{
    transform: scale(1.2);
}

#back{
    position: absolute;
    margin-top: 1em;
    margin-left: 1em;
    top: 0;
    left: 0;
}

#back img{
    height: 50px;
    width: 50px;
}

#back img:hover{
    transform: scale(1.2);
}

