#heading1{
    font-size: 70px;
}

body{
    background-image: url('../images/sky.webp') ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

#heading{
    color: white;
    text-align: center;
}



h2{
    margin: auto;
    font-size: 20px;
    width: 80%;
    color: black;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
}

#entirebody{
    margin: auto;
    border: 5px solid white;
    height: 700px;
    width: 95%;
    border: 5px solid white;
    background-color: rgb(182, 182, 182);
    opacity: 80%;
    padding: 1em;
}

#container{
    width: 80%;
    margin: auto;
    color: black;
}

#container a{
    text-decoration: none;
    color: black;
}

#container a:hover{
    transform: scale(1.2);
}
#container img{
    height: 320px;
    width: 410px;
    border-radius: 5%;
}

img:hover{
    transform: scale(1.05);
}

#aboutme, #personalProjects, #schoolwork{
    background-color: rgba(128, 128, 128, 0.575);
    width: 410px;
    height: 500px;
    margin: 10px;
    float: left;
    border: 5px solid white;
    border-radius: 5%;
    padding: 1em;
}


#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
}